<div class="jumbotron">
    <h1 class="main-title text-center font-weight-bold">TRAVELER.COM</h1>
    <h4 class="text-center font-weight-bold">Create your account and share with world</h4>
</div>

<%= render 'form', user: @user %>

