<div class="container">
    <div class="row">
        <div class="col align-self-center jumbotron">
            <h1 class="main-title text-center font-weight-bold">TRAVELER.COM</h1>
            <h4 class="text-center font-weight-bold">Share your traveling stories with us!</h4>
        </div>
        <figure class="d-block mx-auto">
            <img src="https://www.marseilletourisme.fr/media/filer_public/2018/07/05/port-miou-cassis.jpg" alt="Port Miou" class="img-fluid border rounded shadow-lg">
        </figure>

    </div>
</div>
