<div class="container">
    <div class="jumbotron mb-5">
        <h1 class="main-title text-center font-weight-bold">TRAVELER.COM</h1>
        <h4 class="text-center font-weight-bold">About us!</h4>
    </div>
    <div class="row mb-5">
        <div class="col">
            <p class="title text-justify">Do you like travelling? Honestly, who could answer "no"? All over the world, billions of people are currently locked down in quarantine following the COVID2019 crisis. We might be working remotely, studying or struggling to make ends meet and yet we've to stay positive and united to fight this annoying virus!</p>
            <p class="subtitle text-center">Let's share some cool pictures ans stories of our trips.</p>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
          <div class="card shadow">
            <img class="card-img-top img-fluid" src="https://i.ibb.co/d5D005F/china.jpg" alt="China">
            <div class="card-body">
              <h5 class="card-title text-center text-uppercase font-weight-bold">Mysteries of China</h5>
              <p class="card-text">China may surprises you. Long history, landscape diversity, 55 minorities, a rapid economic development. Discover the chinese paradox!</p>
            </div>
          </div>
          <div class="card shadow">
            <img class="card-img-top img-fluid" src="https://i.ibb.co/7GZdq6f/nyc.jpg" alt="Usa">
            <div class="card-body">
              <h5 class="card-title text-center text-uppercase font-weight-bold">American hustle</h5>
              <p class="card-text">The land of opportunity. Huge buildings, huge natural reserves, huge cars, huge sodas. American culture is deeply influencing the 21st century!</p>
            </div>
          </div>
          <div class="card shadow">
            <img class="card-img-top img-fluid" src="https://i.ibb.co/svV1LWd/patagonia.jpg" alt="Argentina">
            <div class="card-body">
              <h5 class="card-title text-center text-uppercase font-weight-bold">Natura y Argentina</h5>
              <p class="card-text">Who never heard of the Argentine steak? Although the gastronomy often comes first when talking of Argentina, let's dive into this country's natural landscape!</p>
            </div>
          </div>
</div>
    </div>
</div>

