<div class="container">
    <div class="row">
        <div class="col align-self-center jumbotron">
            <h1 class="text-center">About TRAVELER.COM</h1>
            <img class="d-block mx-auto"src="https://i.ibb.co/vVzCk5r/logo-traveler.jpg" width="200">
            <p class="text-center">Share your traveling stories with us!</p>
        </div>
        <figure class="d-block mx-auto">
            <img src="https://www.marseilletourisme.fr/media/filer_public/2018/07/05/port-miou-cassis.jpg" alt="Port Miou" class="img-fluid border rounded shadow-lg">
        </figure>

    </div>
</div>

